@import url("fonts.googleapis.com/css?family=Open+Sans&display=swap");
body
{
    background-color: #fbffff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#logo{
    width: 100%;
    margin: 0;
    font-size: 1.8em;
    color: white;
    font-family: Consolas, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 300px;
    vertical-align: middle;
    line-height: 300px;
}
#logo a
{
    padding: 15px;
}

a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
.cursor
{
    -webkit-animation: 1s cursorAnimation step-end infinite;
    animation: 1s cursorAnimation step-end infinite;
}

@keyframes cursorAnimation {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

nav{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    background-color: #242d4c;
    font-family: Consolas, sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
    background-color: #242d4c;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  li a:visited{
      color: white;
  }
  li a:hover {
    background-color: rgb(23, 24, 37);
  }

#content
{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-height: 300px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    padding: 5px;
}
#content a:link
{
    text-decoration: none;
    color: rgb(24, 24, 224);

}
#content a:visited
{
    text-decoration: none;
    color: rgb(24, 24, 224);
}

@media (max-width: 550px) {
    #logo{
        text-align: center;
    }
    #logo a{
        margin-left: 0;
    }
    li{
        display: block;
    }
    nav{
        margin-bottom: 200px;
    }
    #content{
        width: 96%;
    }
  }