@import url("fonts.googleapis.com/css?family=Open+Sans&display=swap");

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
}
header{
    margin-top: 20px;
}
#logo{
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 3em;
    margin-bottom: 30px;
}

nav{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3662c2;
    text-align:center;
  }
  
  li {
    display:inline-block;
  }
  
  li a {
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #4773d3;
  }

#content
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-height: 300px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
}
#content a{
  margin-bottom: 30px;
}

.question{
    margin-top: 10px;
    padding-bottom: 60px;
    padding-top: 40px;
    background-color: rgb(240, 240, 240);
  }
  .question h3{
      padding: 1%;
      margin-bottom: 10px;
  }

.button {
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: white; 
    border: 4px solid #3662c2;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  .button:hover {
    background-color: #4773d3;
    color: white;
  }

  .disabled{
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
  .correctAnswer{
    background-color: #96c21d;
    border: 4px solid #96c21d;
    color: white;
  }
  .badAnswer{
    background-color: rgb(211, 28, 28);
    color: white;
    border: 3px solid rgb(211, 28, 28);
  }

  .result, .info
  {
    text-align: center;
    font-size: 1.2em;
    padding: 20px 10px;
    margin-top: 10px;
    background-color: #4773d3;
    color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

.info a:link{
    text-decoration: none;
    color: rgb(236, 240, 14);
}
.info a:visited{
    color: rgb(236, 240, 14);
}

@media (max-width: 550px) {
    li{
        display: block;
    }
    nav{
        margin-bottom: 200px;
    }
    #content{
        width: 100%;
    }
    button{
      width: 46%;
    }
    .result, .info{
      width: 90%;
    }
  }